mixin outerContentListSmall(contentLists)
  ul 
    each contentList in contentLists
      li
        a(href="http://")
          div.img-div
            span 여기에는 이미지 넣을거임
          div.text-div
            div.text-title #{contentList.title}
            div.text-main-content #{contentList.mainText}
              span #{contentList.owner}
              span #{contentList.comment}
              span #{contentList.like}